<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and SQLite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="mb-4">Participant Portal</h1>
    <button class="btn btn-primary mb-3" type="button" onclick="window.location.href='{{ url_for('join') }}';">Fill form to get updates</button><br/>
    <button class="btn btn-secondary" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Check participant list</button>
</body>
</html>
